body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-items{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-items >li{
  justify-items: normal;
  padding: 10px;

}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width:60px
}
.Header{
  border-bottom-color: lightgray;
  border-bottom-style: solid;
}
.Footer{
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  border-top-color: lightgray;
  border-top-style: solid;
}
.MainContent{
  text-align: center;
}
.MainContent >ol{
  list-style: none;
}